.main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calendar-div {
    width: 95%;
}

.costs-div {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}